.countdown-element-root {
  border: 3px solid darkgreen;
  width: 15vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
}

.countdown-element-value {
  color: rgb(0, 60, 0);
  font-size: 8vw;
  text-align: center;
  font-weight: 800;
  line-height: 8vw;
}

.countdown-element-label {
  color: rgb(0, 60, 0);
  font-size: 2.5vw;
  text-align: center;
  font-weight: 600;
}
