.root {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
  background-image: url("/photos/Zita_Peti_Albania_20230810.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.date-and-loc {
  font-size: 4rem;
  font-weight: 600;
  color: darkgreen;
  padding: 1rem 0;
}
