.home-page-root {
  position: relative;
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.home-page-image-container {
  height: 100%;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-container-first {
  background-image: url("/photos/Zita_Peti_Albania_20230810.jpg");
  margin-top: -64px;

  @media only screen and (max-width: 640px) {
    margin-top: -48px;
  }
}

.home-page-container-second {
  background-image: url("/photos/Zita_Peti_Albania_Gjirokaster_20230807.jpg");
}

.home-page-container-third {
  background-image: url("/photos/Zita_Peti_Szlovenia_Ljubljana_20190730.jpg");
}

.home-page-overlay {
  height: 100%;
  background-color: white;
}

.home-page-button-container {
  background-color: rgba(0, 100, 0, 0.8);
  padding: 15vh 0;
  z-index: 2;
}

.home-page-button {
  color: darkgreen;

  @mixin hover {
    background-color: rgb(255, 236, 128);
    color: darkgreen;
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: rgb(255, 236, 128);
    color: darkgreen;
  }
}
