.under-construction-root {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;

  background-image: url("/photos/Zita_Peti_Albania_20230810.jpg");
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 640px) {
    height: calc(100vh - 48px);
  }
}

.under-construction-overlay {
  background-color: white;
}

.under-construction-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.under-construction-inner-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.under-construction-text {
  font-size: 6vw;
  font-weight: 600;
  color: darkgreen;
}
