.header-root {
  position: sticky;
  top: 0;
  left: 0;
  height: 64px;
  width: 100%;
  z-index: 10;
  background-color: inherit;

  @media only screen and (max-width: 640px) {
    height: 48px;
  }
}

.header-overlay {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header-logo {
  font-size: 50px;

  @media only screen and (max-width: 640px) {
    font-size: 36px;
  }
}

.header-link {
  background-color: transparent;
  border: none;
  color: darkgreen;
  cursor: pointer;

  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  font-size: var(--mantine-font-size-xl);
  font-weight: 600;

  @mixin hover {
    background-color: rgba(255, 215, 0, 0.6);
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: darkgreen;
    color: var(--mantine-color-white);
  }
}

.header-selected-link {
  background-color: rgba(255, 215, 0, 0.6);
}

.header-burger-menu-item-label {
  font-size: var(--mantine-font-size-md);
}
