.wedding-timeline {
  padding: 0;
}

.wedding-timeline-icon {
  background: darkgreen;
  color: gold;
}

.wedding-timeline-element-title {
  font-size: 2rem;
}

.wedding-timeline-element-subtitle {
}

.wedding-timeline-element-map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.wedding-timeline-element-map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
