.wedding-timeline {
  padding: 0;
  max-width: unset;

  &::before {
    left: 38px;
  }
}

.wedding-timeline-element {
  margin: 4em 0;
}

.wedding-timeline-icon svg {
  width: 36px;
  height: 36px;
  margin-left: -18px;
  margin-top: -18px;
}

.wedding-timeline-element-date {
  font-size: 5rem !important;
  padding: 0 20px !important;
  opacity: 1 !important;
  top: -15px !important;
}

@media only screen and (min-width: 1170px) {
  .wedding-timeline-element {
    margin: 8em 0;
  }

  .wedding-timeline-icon svg {
    width: 56px;
    height: 56px;
    margin-left: -28px;
    margin-top: -28px;
  }

  .wedding-timeline-element-date {
    font-size: 5rem !important;
    padding: 0 20px !important;
    opacity: 1 !important;
    top: -15px !important;
  }
}
