.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
  position: relative;
}

.main-container {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.background-image {
  flex-shrink: 0;
  opacity: 0.5;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-text {
  color: darkgreen;
  text-align: center;
}

.highlighted-text {
  text-shadow:
    1px 1px 1px gold,
    0 0 25px darkgreen,
    0 0 25px gold;
}

.zita-peter {
  font-size: 14rem;
}

.date {
  font-size: 6rem;
}
